@using SitesChecker.App.Models
@using SitesChecker.Domain
@model List<SitesChecker.App.Models.SiteViewModel>

<!DOCTYPE html>

<html>
<head>
    <br />
    <br />
    <button class="btn btn-info" type="button" id="addressSearch"
            onclick="location.href = '@Url.Action("Index", "Account")'">
        Войти
    </button>
    <br />
    <br />
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Название</th>
                <th>URL</th>
                <th>Доступность</th>
            </tr>
        </thead>
        @foreach (SiteViewModel result in Model)
        {
            <tr>
                <td>@result.Name.ToString()</td>
                <td>@result.Url.ToString()</td>
                <td>
                    <input type="checkbox" checked="@result.IsAvailable" />
                </td>
            </tr>
        }
    </table>
</head>
<body>
<div>
    
    
</div>
</body>
</html>